body {
  font-family: Arial, Helvetica, sans-serif;
  min-width: 1024px;
  background: #fff;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

ul,
li {
  list-style: none;
}

.container {
  margin: 0 auto;
  max-width: 1500px;
  width: 100%;
}

.header--content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: left 0.2s ease-in-out;
  z-index: 100;
  will-change: transform;
}

.header--header {
  display: flex;
  background: #fff;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0px 40px;
  height: 80px;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.header--logo {
  padding: 0 20px 0 0;
  flex: 0 0 auto;
}

.header--logoImage {
  width: 160px;
  height: 50px;
}

.header--menu {
  flex: 1 0 auto;
  text-align: center;
  background: white;
}

.header--link {
  font-size: 1.2em;
  font-weight: bold;
  padding: 0 20px;
}

.header--button {
  font-size: 15px;
  line-height: 16px;
  height: 32px;
  padding: 7px 16px;
  border-radius: 100px;
  background: transparent;
  box-shadow: none;
  border: 1px solid #f73;
  color: #000;
  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;
}

.header--bottomPad {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  height: 10px;
}

.main--wrapper {
  position: relative;
}

.main--container {
  transition: filter 0.2s linear;
}

.main--app {
  margin: 90px 40px 10px 40px;
}

.main--content {
  border: solid 1px #eee;
  border-radius: 4px 4px 0 0;
}

.main--promo {
  position: relative;
  padding: 51px 80px 56px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: -1px -1px 0;
}

.main--promo--bg {
  background-size: cover;
  background-image: url("./img/food.jpg");
  background-color: #f5f5f5;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  transition: opacity 200ms;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
  height: 100%;
}

.main--promo--text {
  z-index: 1;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  color: #fff;
  font-weight: bold;
  position: relative;
}

.main--promo--title {
  padding-right: 10%;
  margin: 0;
  font-size: 50px;
  line-height: 1.2;
  max-width: 1000px;
}

.main--promo--addressBlock {
  margin-top: 30px;
  max-width: 870px;
  position: relative;
  display: flex;
  color: #000;
  font-size: 1rem;
  font-weight: lighter;
}

.main--promo--inputWrap {
  flex: 1 1 auto;
  width: 70%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.main--promo--addressControl {
  display: block;
  height: 56px;
}

.main--promo--addressInput {
  display: block;
  height: 100%;
  position: relative;
}

.react-autosuggest__container {
  height: 100%;
}

.main--promo--addressInput-input {
  z-index: 10;
  padding: 0 36px;
  box-shadow: none;
  border: none;
  font-size: 18px;
  height: 100%;
  border-radius: 4px 0 0 4px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: visible;
  font-family: inherit;
  line-height: 1.15;
  margin: 0;
  box-sizing: border-box;
}

.main--promo--adressInput-img {
  position: absolute;
  left: 11px;
  top: 50%;
  cursor: pointer;
  opacity: 0.7;
  height: 18px;
  margin-top: -8px;
}

.main--promo--adressInputClose-img {
  height: 100%;
  position: absolute;
  right: 6px;
  top: 0;
  cursor: pointer;
  opacity: 0.7;
  visibility: hidden;
}

.main--promo--buttonWrap {
  flex: 0 0 220px;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

.main--promo--button {
  color: #000;
  background: #f73;
  border: 1px solid #f73;
  min-height: 44px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0 15px;
  cursor: pointer;
  outline: none;
  text-transform: none;
  overflow: visible;
  font-family: inherit;
  line-height: 1.15;
  margin: 0;
  box-sizing: border-box;
}

.main--filter {
  border-bottom: 1px solid #f5f5f5;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

.main--filter--list {
  display: flex;
  margin: 21px 80px;
  padding-right: 180px;
  position: relative;
  overflow: hidden;
  height: 44px;
  flex-wrap: wrap;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

.main--filter--item {
  overflow: hidden;
}

.main--filter--itemLink {
  line-height: 44px;
  padding: 0 18px;
  border-radius: 100px;
  margin-right: 4px;
  display: block;
  background-color: transparent;
}

.main--filter--itemLink:hover {
  background: #f5f5f5;
}

.main--filter--itemLink:hover {
  background: #f5f5f5;
}

.main--filter--itemLink-active {
  background: #f73 !important;
}

.main--filter--itemLink:focus {
  outline: none;
}

.main--filter--item-more {
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  margin-right: 0;
}

.main--filter--item-moreLink {
  line-height: 44px;
  height: 44px;
  padding: 0 18px;
  border-radius: 100px;
  margin-right: 4px;
  display: block;
}

.main--filter--item-more-triandleDown {
  width: 12px;
  margin: 0 0 1px 10px;
}

.main--filter--item-moreLink:hover {
  background: #f5f5f5;
}

.main--content-content {
  position: relative;
  display: block;
  min-height: 300px;
}

.main--content--controlsWrapper {
  padding: 20px 80px;
  border-bottom: 8px solid #fafafa;
  border-top: 1px solid #f5f5f5;
}

.main--content--controls {
  display: flex;
  align-items: center;
}

.main--content--controls_h {
  flex: 1 1 auto;
  height: 46px;
  width: 80%;
  position: relative;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
}

.main--content--controlsInput {
  border: 1px solid #e8e8e8;
  height: 100%;
  padding: 0 35px;
  box-shadow: none;
  width: 100%;
  font-size: 0.9375rem;
  border-radius: 4px;
  text-overflow: ellipsis;
  overflow: visible;
  margin: 0;
  line-height: 1.15;
  box-sizing: border-box;
}

.icon-search {
  top: 15px;
  left: 9px;
  color: grey;
  position: absolute;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: 0;
}

.main--content--restList {
  display: block;
  background: #fff;
  padding: 20px 80px;
}

.main--content--restList-title {
  font-size: 28px;
  font-weight: bold;
  margin: 16px 0 24px;
}

.main--content--restList-list {
  display: flex;
  flex-flow: row wrap;
  margin-right: -30px;
  box-sizing: border-box;
  padding: 0;
}

.main--content--restItem {
  flex: 1 0 30%;
  max-width: 33.3%;
  padding-right: 30px;
  margin-bottom: 40px;
  position: relative;
  box-sizing: border-box;
}

.main--content--restItem-link {
  display: block;
  cursor: pointer;
  text-decoration: none;
  color: #000;
  background-color: transparent;
}

.main--content--restItem-link:focus {
  outline: none;
}

.main--content--restItem-imageContainer {
  position: relative;
  padding-top: 57.5%;
  width: 100%;
  box-sizing: border-box;
}

.main--content--restItem-imageWrapper {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  border-radius: 8px;
}

.main--content--restItem-imageNodeRoot {
  background-size: 340px;
  background-image: url("./Pattern.svg");
  background-color: #f5f5f5;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: all 0.15s linear;
}

.main--content--restItem-imageNodeRoot:hover {
  background-size: 360px;
}

.main--content--restItem-imageNode {
  background-image: url("./img/food.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  transition: all 0.15s linear;
}

.main--content--restItem-imageNode:hover {
  background-size: 110%;
}

.main--content--restItem-name {
  font-size: 20px;
  line-height: 1.2;
  font-weight: bold;
  padding: 10px 70px 0 0;
  position: relative;
  box-sizing: border-box;
  margin: 0;
}

.main--content--restItem-details {
  padding: 7px 0 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;
  box-sizing: border-box;
}

.main--content--restItem-deliveryBadge {
  position: relative;
  margin-right: 8px;
  margin-bottom: 7px;
}

.deliveryBadge {
  width: 32px;
  height: 22px;
  background-size: 100%;
  background-image: url("./deliveryBadge.svg");
  background-position: center;
}

.main--content--restItem-rating {
  display: flex;
  align-items: center;
  background: #f73;
  padding: 2px 10px 2px 9px;
  border-radius: 100px;
  height: 22px;
  margin-right: 10px;
  margin-bottom: 7px;
  box-sizing: border-box;
}

.main--content--restItem-starIcon {
  width: 20px;
  margin: 0 2px 0 -4px;
}

.main--content--restItem-orderMinPrice {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.main--content--restItem-deliveryPackage {
  width: 13px;
  position: relative;
  margin-right: 5px;
  margin-top: -1px;
}

.main--content--restItem-restTagsWrapper {
  overflow: hidden;
}

.main--content--restItem-restTags {
  margin-top: -2px;
  margin-left: -15px;
  font-size: 14px;
  line-height: 18px;
  color: #bbb;
}

.main--content--restItem-restTag {
  white-space: nowrap;
  display: inline-block;
}

.main--content--restItem-restTag::before {
  content: "\2022";
  margin: 0 4px;
}

.main--content--restList-more {
  text-align: center;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  outline: none;
}

.main--content--restList-button {
  color: #000;
  background: #f73;
  border: 1px solid #f73;
  width: 100%;
  height: 100%;
  min-height: 40px;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1.125rem;
  padding: 0 15px;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
}

.main--content--restList-button:focus {
  outline: none;
}

.footer--content {
  text-align: center;
  height: 80px;
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

.footer--footer {
  display: flex;
  align-items: center;
  height: 100%;
}

.footer--copyright {
  flex: 0 0 auto;
  margin-left: 40px;
  color: #999;
  font-weight: 600;
}

.footer--socials {
  flex: 1 0 auto;
}

.footer--socialItem {
  display: inline-block;
  margin: 0 5px;
  line-height: 30px;
}

.footer--social {
  display: inline-block;
  color: #fff;
  height: 30px;
  width: 30px;
  font-size: 0.8rem;
  border-radius: 50%;
}

.footer--socialFB {
  background: #1b4fae;
}

.footer--socialVK {
  background: #5f96d0;
}

.footer--socialInst {
  background: #01375e;
}

.footer--links {
  flex: 3 0 auto;
}

.footer--link {
  margin: 0 8px;
}

.footer--feedback {
  margin-right: 40px;
  flex: 0 0 auto;
}

.icon-comment {
  margin-right: 5px;
}
